
.head-100{
    font-size: 80px;
}
.carousel-caption{
    left:8% !important;
    top:20% !important;
    bottom: unset !important;
}
.world-lines{
    width: 150px;
}
.div-wth-shadow{
    width:300px;
    height: 230px;
    box-shadow: 0px 0px 1px #777676;
}

.swiper-wrapper{
    display: flex;
    align-items: center;
}

.swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #f8f8f8;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;

      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center !important;
      width: 800px;

}

.mySwiper .swiper-slide-active{
  background-color: #FFF;
  padding: 10px;
  box-shadow: 0px 0px 4px #000
}
.testomial{
      border: 1px solid #eee;
  }
  .testomial-p{
      font-size: 13px;
      color:#6B6B6B;
      
  }
  .testomial-h6{
      color:#000033;
      font-size: 14px;
      font-weight: bold;
  }
  .testomial-span{
      color: #6B6B6B;
      font-style: italic;
      font-size: 12px;
      margin-left: 10px;
  }
  .carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #FFF !important;
}
@media screen and (max-width:990px) {
    .head-100{
        font-size: 40px;
    }

    .carousel-caption{
        left:2% !important;
    }
}
@media screen and (max-width:750px) {
    .head-100{
        font-size: 30px;
    }
    .carousel-caption * .btn-yellow{
        font-size: 10px !important;
    } 
}
@media screen and (max-width:575px) {
    .carousel-caption{
        top:10% !important;
    }
    .head-100{
        font-size: 20px;
    }
    .carousel-caption * .btn-yellow{
        font-size: 10px !important;
    } 
}
